@charset 'UTF-8';
@import url(common.css);



.com-place1{
    width:100%; margin:0 auto;
    height:100vh;
    position:relative;
    z-index: 0;
}


.com-place1 .title{
    margin:0 10% 0;
    text-align: center;
    padding-top:80px;
}
.com-place1 .title h2{
    margin:35px auto 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size:2rem;
    color:#6f7071;
}
.com-place1 .title p{
    font-size:1rem;
    font-weight:lighter;
    color:#a8a9ab;
}
.com-place1 .title p::after{
    content:'';
    width:60px; height:5px;
    position:absolute;
    left:50%;
    background-color:#c40352;
    margin:60px auto 100px;
    transform:translateX(-50%);
    display: inline-block;

}


.com-place1 .com-place-mn{
    position:relative;
    left:0; top:0;
    margin:10px 0;
    z-index: 10;
}
.com-place1 .com-place-mn > ul{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:#fff;
    width:70%;
    margin:100px auto 50px;
}
.com-place1 .com-place-mn::after{
    content:'';
    position:absolute; left:0; top:50%;
    display:inline-block;
    background-color: #a8a9ab;
    width:100%;
    height:1px;
    transform: translateY(100%);
    z-index:-1;
}
.com-place1 .com-place-mn > ul > li{
    font-weight:lighter;
    color:#6f7071;
    font-size:1rem;
    font-weight: 300;
}
.com-place1 .com-place-mn > ul > li:hover a{
    color:#c40352;
}




.com-place1 .container1 > figure{
    width:100%;
    position:relative;
    left:0; top:0;
    
}

.com-place1 .container1 > figure > img{
    width:100%; height:62vh;
}
.com-place1 .container1 > figure > figcaption{
    margin-left: 15%;
    color:#fff;
    transform:translateY(-113%);
}
.com-place1 .container1 > figure > figcaption > h1{
    margin-bottom:1vh;
    font-size: 2rem;
    color:#c40352;
}
.com-place1 .container1 > figure > figcaption > p{
    font-size: 1rem;
    font-weight: 300;
    padding-bottom:30.5vh;
}







.com-place2{
    width:70%;
    margin:150px auto -100px;
}


.com-place2 .txt p{
    color:#6d6f72;
    padding-bottom:100px;
    line-height:1.5rem;
}


.com-place2 .factoryCon{
    display:flex;
    justify-content: space-between;
}
.com-place2 .factoryCon > h2 > a{
    font-size:1rem;
    display:block;
    position:absolute;
    transform:translateY(-150%);
}



.com-place2 .factoryCon .section .table1{display:none;}
.com-place2 .factoryCon .section .table2{display:none;}
.com-place2 .factoryCon .section table{
    border-collapse: collapse;
    font-size:.85rem;
    color:#6d6f72;
}

.com-place2 .factoryCon .section table tr td{ 
    text-align:center;
    width:700px;
    padding:15px 10px; 
    border:1px solid #a7a9ac;
    border-width:1px 1px 1px 0;
}
.com-place2 .factoryCon .section table tr td:nth-child(2){ 
    text-align:center;
    width:20%;
    padding:10px; 
    border:1px solid #a7a9ac;
    border-width:1px 1px 1px 0;
}
.com-place2 .factoryCon .section table tr td:nth-child(4){ 
    text-align:center;
    width:40%;
    padding:10px; 
    border:1px solid #a7a9ac;
    border-width:1px 1px 1px 0;
}
.com-place2 .factoryCon .section table tr:nth-child(1){
    border:1px solid #c40352;
    border-width:2px 0 0px 0;
} 
.com-place2 .factoryCon .section table tr:nth-child(5){
    border:1px solid #c40352;
    border-width:0px 0 2px 0;
} 
.com-place2 .factoryCon .section table tr td:last-child{
    border-width:1px 0px 1px 0;

} 
.com-place2 .factoryCon .section ul{
    display:flex;
    justify-content: center;
    padding-top:30px;
}
.com-place2 .factoryCon .section ul li{
    padding:3px 10px;
    margin:0 10px;
    border:1px solid #a7a9ac;
    border-radius:15%;
}





.com-place2 .factoryCon .factoryMap figure{
    transform: translate(10%,-30%);
    position:relative;
    z-index:-5;
}
.com-place2 .factoryCon .factoryMap figure img{
    width:650px;
}
/* 
.com-place2 .txt .table2{
    display:none;
}

.com-place2 .txt .table2 table{
    width:50%;
    margin:15px 0;
    border-collapse: collapse;
    font-size:.85rem;
    color:#6d6f72;
}
.com-place2 .txt .table2 table tr td{ 
    text-align:center;
    width:15%;
    padding:15px 10px; 
    border:1px solid #a7a9ac;
    border-width:1px 1px 1px 0;
}
.com-place2 .txt .table2 table tr td:nth-child(2){ 
    text-align:center;
    width:20%;
    padding:10px; 
    border:1px solid #a7a9ac;
    border-width:1px 1px 1px 0;
}
.com-place2 .txt .table2 table tr td:nth-child(4){ 
    text-align:center;
    width:40%;
    padding:10px; 
    border:1px solid #a7a9ac;
    border-width:1px 1px 1px 0;
}
.com-place2 .txt .table2 table tr:nth-child(1){
    border:1px solid #c40352;
    border-width:2px 0 0px 0;
} 
.com-place2 .txt .table2 table tr:nth-child(5){
    border:1px solid #c40352;
    border-width:0px 0 2px 0;
} 
.com-place2 .txt .table2 table tr td:last-child{
    border-width:1px 0px 1px 0;

}  */



/* .com-place2 .txt .table3{
    /* display:none; */
/* }

.com-place2 .txt .table3 table{
    width:50%;
    margin:15px 0;
    border-collapse: collapse;
    font-size:.85rem;
    color:#6d6f72;
}
.com-place2 .txt .table3 table tr td{ 
    text-align:center;
    width:15%;
    padding:15px 10px; 
    border:1px solid #a7a9ac;
    border-width:1px 1px 1px 0;
}
.com-place2 .txt .table3 table tr td:nth-child(2){ 
    text-align:center;
    width:20%;
    padding:10px; 
    border:1px solid #a7a9ac;
    border-width:1px 1px 1px 0;
}
.com-place2 .txt .table3 table tr td:nth-child(4){ 
    text-align:center;
    width:40%;
    padding:10px; 
    border:1px solid #a7a9ac;
    border-width:1px 1px 1px 0;
}
.com-place2 .txt .table3 table tr:nth-child(1){
    border:1px solid #c40352;
    border-width:2px 0 0px 0;
} 
.com-place2 .txt .table3 table tr:nth-child(4){
    border:1px solid #c40352;
    border-width:0px 0 2px 0;
} 
.com-place2 .txt .table3 table tr td:last-child{
    border-width:1px 0px 1px 0;

}   */