@charset 'UTF-8';
@import url(common.css);



.history1{
    width:100%; margin:0 auto;
    height:100vh;
    position:relative;
}


.history1 .title{
    margin:0 10% 0;
    text-align: center;
    padding-top:80px;
}
.history1 .title h2{
    margin:35px auto 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size:2rem;
    color:#6f7071;
}
.history1 .title p{
    font-size:1rem;
    font-weight:lighter;
    color:#a8a9ab;
}
.history1 .title p::after{
    content:'';
    width:60px; height:5px;
    position:absolute;
    left:50%;
    background-color:#c40352;
    margin:60px auto 100px;
    transform:translateX(-50%);
    display: inline-block;

}


.history1 .aboutus-mn{
    position:relative;
    left:0; top:0;
    margin:10px 0;
}
.history1 .aboutus-mn > ul{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:#fff;
    width:70%;
    margin:100px auto 50px;
}
.history1 .aboutus-mn::after{
    content:'';
    position:absolute; left:0; top:50%;
    display:inline-block;
    background-color: #a8a9ab;
    width:100%;
    height:1px;
    transform: translateY(100%);
    z-index:-1;
}
.history1 .aboutus-mn > ul > li{
    font-weight:lighter;
    color:#6f7071;
    font-size:1rem;
    font-weight: 300;
}
.history1 .aboutus-mn > ul > li:hover a{
    color:#c40352;
}




.history1 .container1 > figure{
    width:100%;
    position:relative;
    left:0; top:0;
}

.history1 .container1 > figure > img{
    width:100%; height:62vh;
    z-index: -2;
}
.history1 .container1 > figure > figcaption{
    margin-left: 15%;
    color:#fff;
    transform:translateY(-113%);
}
.history1 .container1 > figure > figcaption > h1{
    margin-bottom:1vh;
    font-size: 2rem;
    color:#c40352;
}
.history1 .container1 > figure > figcaption > p{
    font-size: 1rem;
    font-weight: 300;
    padding-bottom:30.5vh;
}





.history2{
    width:100%;
    margin:100px auto 0;
    position:relative;
}
.history2 > figure > img{width:100%;}
.history2 > figure figcaption{
    position:absolute;
    left:50%; top:100px;
    z-index: 5;
    color:#fff;
    text-align: center;
    display:flex;
    flex-direction: column;
    transform:translate(-50%, 0);
}
.history2 > figure figcaption small{
    color:#c40352;
}
.history2 > figure figcaption span{
    font-size:1.5rem;
    padding-bottom:150px;
}
.history2 > figure figcaption h1{
    font-size:4rem;
}


.history2 ul{
    width:50%;
    margin:0 auto;
    transform:translateX(-50%);
    border-right:1px solid #a8a9ab;
}
.history2 ul li{
    display:flex;
    flex-direction: column;
    padding:50px 40px;
    text-align: right;
}
.history2 ul li strong{
    font-size:1.5rem;
    display:
}
.history2 ul li span{
    font-size:0.9rem;
    color:#6f7071;
    padding-top:5px;
    line-height:2rem;
}
.history2 ul li strong::after{
    content: '';
    display:block;
    background-color:#c40352;
    width:30px; height:2px;
    transform: translateX(46vw) translateY(-2vh);
    display:none;
}









.history3{
    width:100%;
    margin:0 auto;
    position:relative;
}
.history3 > figure > img{width:100%;}
.history3 > figure figcaption{
    position:absolute;
    left:50%; top:100px;
    z-index: 5;
    color:#fff;
    text-align: center;
    display:flex;
    flex-direction: column;
    transform:translate(-50%, 0);
}
.history3 > figure figcaption small{
    color:#c40352;
}
.history3 > figure figcaption span{
    font-size:1.5rem;
    padding-bottom:150px;
}
.history3 > figure figcaption h1{
    font-size:4rem;
}


.history3 ul{
    width:30%;
    margin:0 auto;
    transform:translateX(50%);
    border-left:1px solid #a8a9ab;
}
.history3 ul li{
    display:flex;
    flex-direction: column;
    padding:50px 40px;
    text-align: left;
}
.history3 ul li strong{
    font-size:1.5rem;
    display:
}
.history3 ul li span{
    font-size:0.9rem;
    color:#6f7071;
    padding-top:5px;
    line-height:2rem;
}
.history3 ul li strong::after{
    content: '';
    display:block;
    background-color:#c40352;
    width:30px; height:2px;
    transform: translateX(-2.1vw) translateY(-2vh);
    display:none;
}









.history4{
    width:100%;
    margin:0 auto;
    position:relative;
}
.history4 > figure > img{width:100%;}
.history4 > figure figcaption{
    position:absolute;
    left:50%; top:100px;
    z-index: 5;
    color:#fff;
    text-align: center;
    display:flex;
    flex-direction: column;
    transform:translate(-50%, 0);
}
.history4 > figure figcaption small{
    color:#c40352;
}
.history4 > figure figcaption span{
    font-size:1.5rem;
    padding-bottom:150px;
}
.history4 > figure figcaption h1{
    font-size:4rem;
}


.history4 ul{
    width:50%;
    margin:0 auto;
    transform:translateX(-50%);
    border-right:1px solid #a8a9ab;
}
.history4 ul li{
    display:flex;
    flex-direction: column;
    padding:50px 40px;
    text-align: right;
}
.history4 ul li strong{
    font-size:1.5rem;
    display:
}
.history4 ul li span{
    font-size:0.9rem;
    color:#6f7071;
    padding-top:5px;
    line-height:2rem;
}
.history4 ul li strong::after{
    content: '';
    display:block;
    background-color:#c40352;
    width:30px; height:2px;
    transform: translateX(46vw) translateY(-2vh);
    display:none;
}




aside .r-btn1{
    position:fixed;
    right:5%; top:40%;
    padding-top:2vh;
    display:flex;
    flex-direction: column;
    z-index:20;
}
aside .r-btn1 a{
    color:#a8a9ab;
    margin-bottom:20px;
    font-size:0.9rem;
}
aside .r-btn1 a::after{
    content:'';
    position:absolute;
    width:15px;
    height:15px;
    
    border-radius:50%;
    border:1px solid #a8a9ab;
    transform:translate(100%,15%);
}
aside .r-btn1 a:hover::after{
    width:15px;
    height:15px;
    margin-bottom:20px;
    border-radius:50%;
    background-color:#c40352;
    border:1px solid #c40352;
}