@charset 'UTF-8';
@import url(common.css);



.brand1{
    width:100%; margin:0 auto;
    height:100vh;
    position:relative;
}

.brand1 .title{
    margin:0 10% 0;
    text-align: center;
    padding-top:80px;
}
.brand1 .title h2{
    margin:35px auto 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size:2rem;
    color:#6f7071;
}
.brand1 .title p{
    font-size:1rem;
    font-weight:lighter;
    color:#a8a9ab;
}
.brand1 .title p::after{
    content:'';
    width:60px; height:5px;
    position:absolute;
    left:50%;
    background-color:#c40352;
    margin:60px auto 100px;
    transform:translateX(-50%);
    display: inline-block;

}
.brand1 .brand-mn{
    position:relative;
    left:0; top:0;
    margin:10px 0;
}

.brand1 .brand-mn > ul{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:#fff;
    width:70%;
    margin:100px auto 50px;
}
.brand1 .brand-mn::after{
    content:'';
    position:absolute; left:0; top:50%;
    display:inline-block;
    background-color: #a8a9ab;
    width:100%;
    height:1px;
    transform: translateY(100%);
    z-index:-1;
}
.brand1 .brand-mn > ul > li{
    font-weight:lighter;
    color:#6f7071;
    font-size:1rem;
    font-weight: 300;
}
.brand1 .brand-mn > ul > li:hover a{
    color:#c40352;
}


.container1{ width:100%; overflow:hidden;}
.container1 .brand-list{
    width:250%;
    display:flex;
    flex-wrap: wrap;
    margin-top:30px;
    transform:translateX(15%);
}
.container1 .brand-list .content1{
    position:relative;
    left:0; top:0;
    border:1px solid #a7a9ac;
    border-radius: 10px;
    margin:20px 30px;
    width:330px; height:145px;
    box-shadow: 5px 5px 8px #f4f4f4;
    
}
.container1 .brand-list .content1 img{
    border-radius: 10px;
    width:330px; height:145px;
}
.container1 .brand-list .content1 > span{
    position:absolute;
    width:100%; height:100%;
    background-color:rgba(237, 75, 107, 0.8);
    border-radius: 10px;
    z-index:2;
    transform:translateX(-100%);
    text-align: center;
    color:#fff;
    display:none;
    transition:0.5s;
}
.container1 .brand-list .content1 a{color:#fff;}
.container1 .brand-list .content1 span a small{
    display:block;
    padding-top:1rem;
    font-size:.8rem;
    font-family: 'Open Sans', sans-serif;
}
.container1 .brand-list .content1 span a h2{
    padding-top:0.5rem;
}
.container1 .brand-list .content1 span a p{
    padding-top:1.5rem;
    font-weight:300;
    font-size:.9rem;
    font-family: 'Open Sans', sans-serif;
}

.container1 .brand-list .content1:hover span{
    display:inline;
    opacity:1;
}




.container1 .list-control{
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
    position: absolute;
    bottom: 10vh;
    width: calc(90% - ((((100% - (20px * (12 - 1))) / 12) + 20px) * 2 + 80px));
    height: 1px;
    background: #f0f0f0;
}

.container1 .list-control-thumb{
    width: 20%;
    left: 0px;
    top: -2px;
    position: absolute;
    height: 5px;
    border-radius: 2px;
    background: #c40352;
    cursor: pointer;
}