@charset 'UTF-8';
@import url(common.css);



/* ------------------------------------main */
.about-us{
    width:100%; margin:0 auto;
    height:100vh;
    position:relative;
}
/* .about-us .r-btn1{
    position:absolute;
    right:5%;
    padding-top:2vh;
    display:flex;
    flex-direction: column;
    z-index:20;
}
.about-us .r-btn1 a{
    width:15px;
    height:15px;
    margin-bottom:20px;
    border-radius:50%;
    border:1px solid #a8a9ab;
}
.about-us .r-btn1 a:nth-child(1){
    width:15px;
    height:15px;
    margin-bottom:20px;
    border-radius:50%;
    background-color:#c40352;
    border:none;
} */
.about-us .title{
    margin:0 10% 0;
    text-align: center;
    padding-top:80px;
}
.about-us .title h2{
    margin:35px auto 5px;
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
    font-size:2rem;
    color:#6f7071;
}
.about-us .title p{
    font-size:1rem;
    font-weight:lighter;
    color:#a8a9ab;
}
.about-us .title p::after{
    content:'';
    width:60px; height:5px;
    position:absolute;
    left:50%;
    background-color:#c40352;
    margin:60px auto 100px;
    transform:translateX(-50%);
    display: inline-block;

}
.about-us .aboutus-mn{
    position:relative;
    left:0; top:0;
    margin:10px 0;
}

.about-us .aboutus-mn > ul{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:#fff;
    width:70%;
    margin:100px auto 50px;
}
.about-us .aboutus-mn::after{
    content:'';
    position:absolute; left:0; top:50%;
    display:inline-block;
    background-color: #a8a9ab;
    width:100%;
    height:1px;
    transform: translateY(100%);
    z-index:-1;
}
.about-us .aboutus-mn > ul > li{
    font-weight:lighter;
    color:#6f7071;
    font-size:1rem;
    font-weight: 300;
}
.about-us .aboutus-mn > ul > li:hover a{
    color:#c40352;
}









.about-us .container1{
    width:70%;
    margin:20vh auto;
    position:relative;
    left:0; top:0;
    display:flex;
    align-items: top;
}
.about-us .container1 .ceo-img{
    position:relative;
    right:0; top:o;
    z-index: -6;
    margin:0 auto;
}
.about-us .container1 .ceo-img > img{
    width:112%;
    transform: scale(160%) translateX(-5%);
}
.about-us .container1 .ceo-img > figcaption{
    position:absolute;
    right:5%; top:-10%;
    color:#A7A9AC;
    font-size:.9rem;
}
.about-us .container1 .ceo-img > figcaption > b{
    color:#6D6E71;
    font-size:1.5rem;
}
.about-us .container1 .ceo-text{width:70%; margin:-30px auto;}
.about-us .container1 .ceo-text > h1{
    text-align: right;
    color:#c40352;
    font-family: 'Open Sans', sans-serif;
    font-weight:700;
}
.about-us .container1 .ceo-text > p{
    padding:30px 0px;
    white-space: pre-line;
    text-align: right;
    color:#6D6E71;
    line-height: 1.8rem;
}











.about-us2{
    width:100%; margin:0 auto;
    height:100vh;
    position:relative;
}
.about-us2 .container2{
    width:100%;
}
.about-us2 .container2 .ceo-bg{
    width:100%;
    position:relative;
    left:0; top:0;
    z-index:-1;
}
.about-us2 .container2 .ceo-bg > figure > img{
    width:100%;
    position:relative;
    left:0; top:0;
}
.about-us2 .container2 .ceo-bg::after{
    content:'';
    position:absolute;
    left:0; top:0;
    display:block;
    margin-left:10%;
    background-color: #c40352;
    width:25%; height:100%;
}
.about-us2 .container2 .ceo-bg::before{
    content:'';
    position:absolute;
    left:0; top:0;
    display:block;
    margin-left:10%;
    width:25%; height:100%;
    border-bottom: 10px solid #111a35;
    transform: translateY(-80%);
    z-index:1;
}
.about-us2 .container2 .ceo-bg > figure > figcaption{
    position:absolute;
    left:0; bottom:0;
    margin:0 auto;
    color:#fff;
    z-index:2;
    margin:0 auto;
    padding:6% 15%;
}
.about-us2 .container2 .ceo-bg > figure > figcaption > h1{
    margin-bottom:70px;
}
.about-us2 .container2 .ceo-bg > figure > figcaption > p{
    line-height: 1.8rem;
    font-weight:200;
}


.about-us2 .container2 .ceo-mn1{
    width:80%;
    margin:0 auto;
}
.about-us2 .container2 .ceo-mn1 > ul {
    display:flex;
    justify-content:space-between;
    align-items: center;
    margin:45px auto;
}
.about-us2 .container2 .ceo-mn1 > ul > li{
    width:31%;
    padding:20px 0;
    border:1px solid #A7A9AC;
    text-align: center;
    font-size:1.2rem;
    position:relative;
    left:0; top:0;
}
.about-us2 .container2 .ceo-mn1 > ul > li::after{
    content:'▼';
    position:absolute;
    left:50%; bottom:0;
    color:#c40352;
    transform:translateY(70%);
    display:none;

}
.about-us2 .container2 .ceo-mn1 > ul > li:hover{
    border:none;
    background-color:#c40352;
}
.about-us2 .container2 .ceo-mn1 > ul > li:hover::after{display:block;}
.about-us2 .container2 .ceo-mn1 > ul > li:hover > a{color:#fff;}







.about-us3{
    width:100%; margin:0 auto;
}
.about-us3 .container3{
    width:100%;
    margin:0 auto;
}
.about-us3 .container3 > .ceo-bg2 > figure{
    position:relative;
    left:0; top:0;
    z-index: -1;
}
.about-us3 .container3 > .ceo-bg2 > figure > img{
    width:100%;
}
.about-us3 .container3 > .ceo-bg2 > figure > span{
    position:absolute;  
    left:15%; top:20%;
    font-size:2rem;
    color:#fff;  
}
.about-us3 .container3 > .ceo-bg2 > figure > span > img{
    width:40px;
}
.about-us3 .container3 > .ceo-bg2 > figure > span::after{
    content:'';
    position:absolute; left:0; bottom:-30%;
    display:inline-block;
    background-color: #a8a9ab;
    width:220%;
    height:2px;
    transform: translateX(-50%) translateY(100%);
    z-index:3;
}
.about-us3 .container3 .ceo-bg2-text{
    width:70%; 
    margin:0 auto;
}
.about-us3 .container3 .ceo-bg2-text ul{
    position:relative;
    display:flex;
    justify-content:space-between;
    transform: translateY(-60%);
    z-index: 10;
}
.about-us3 .container3 .ceo-bg2-text li{text-align: center;}
.about-us3 .container3 .ceo-bg2-text li > h2{
    text-align: center;
    font-size:2rem;
    color:#fff;
    margin:70px 0;
}
.about-us3 .container3 .ceo-bg2-text li > h2::after{
    content:'';
    width:70px; height:70px;
    position: absolute;   
    display:inline-block;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-77%, -15%);
    z-index: -1;
    opacity: .5;
}
.about-us3 .container3 .ceo-bg2-text li > p{
    text-align: left;
    font-size:0.95rem;
    color:#6D6E71;
    line-height: 1.8rem;
}











.about-us4{
    width:100%; margin:0 auto;
    height:100vh;
    position:relative;
}
.about-us4 .container4{
    width:100%;
    margin:0 auto; 
}
.about-us4 .container4 > .ceo-bg3 > figure{
    position:relative;
    left:0; top:0;
}
.about-us4 .container4 > .ceo-bg3 > figure > img{
    width:100%;
}
.about-us4 .container4 > .ceo-bg3 > figure > span{
    position:absolute;  
    left:15%; top:20%;
    margin-top:-3px;
    font-size:2rem;
    color:#fff;  
}
.about-us4 .container4 > .ceo-bg3 > figure > span > img{
    width:35px;
}
.about-us4 .container4 > .ceo-bg3 > figure > span::after{
    content:'';
    position:absolute; left:0; bottom:-30%;
    display:inline-block;
    background-color: #a8a9ab;
    width:220%;
    height:2px;
    transform: translateX(-50%) translateY(100%);
}
.about-us4 .container4 .ceo-bg3-text{
    width:70%;
    margin:0 auto;
}
.about-us4 .container4 .ceo-bg3-text ul{
    position:relative;
    display:flex;
    justify-content:space-between;
    transform: translateY(-60%);
}
.about-us4 .container4 .ceo-bg3-text li{text-align: center;}
.about-us4 .container4 .ceo-bg3-text li > h2{
    text-align: center;
    font-size:2rem;
    color:#6D6E71;
    margin:70px 0;
}
.about-us4 .container4 .ceo-bg3-text li > h2::after{
    content:'';
    width:70px; height:70px;
    position: absolute;   
    display:inline-block;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-77%, -15%);
    z-index: -1;
    opacity: .5;
}
.about-us4 .container4 .ceo-bg3-text li > p{
    text-align: left;
    font-size:0.95rem;
    color:#6D6E71;
    line-height: 1.8rem;
}












.about-us5{
    width:100%; margin:0 auto;
    height:100vh;
    position:relative;
}
.about-us5 .container5{
    width:100%;
    margin:0 auto;
}
.about-us5 .container5 > .ceo-bg4 > figure{
    position:relative;
    left:0; top:0;
}
.about-us5 .container5 > .ceo-bg4 > figure > img{
    width:100%;
}
.about-us5 .container5 > .ceo-bg4 > figure > span{
    position:absolute;  
    left:15%; top:16.5%;
    margin-top:27px;
    font-size:2rem;
    color:#fff;  
}
.about-us5 .container5 > .ceo-bg4 > figure > span > img{
    width:45px;
}
.about-us5 .container5 > .ceo-bg4 > figure > span::after{
    content:'';
    position:absolute; left:0; bottom:-30%;
    display:inline-block;
    background-color: #a8a9ab;
    width:220%;
    height:2px;
    transform: translateX(-50%) translateY(100%);
    z-index:3;
}
.about-us5 .container5 .ceo-bg4-text{
    width:70%;
    margin:0 auto;
}
.about-us5 .container5 .ceo-bg4-text ul{
    position:relative;
    display:flex;
    justify-content:space-between;
    transform: translateY(-60%);
    z-index: 10;
}
.about-us5 .container5 .ceo-bg4-text li{text-align: center;}
.about-us5 .container5 .ceo-bg4-text li > h2{
    text-align: center;
    font-size:2rem;
    color:#6D6E71;
    margin:70px 0;
}
.about-us5 .container5 .ceo-bg4-text li > h2::after{
    content:'';
    width:70px; height:70px;
    position: absolute;   
    display:inline-block;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(-77%, -15%);
    z-index: -1;
    opacity: .5;
}
.about-us5 .container5 .ceo-bg4-text li > p{
    text-align: left;
    font-size:0.95rem;
    color:#6D6E71;
    line-height: 1.8rem;
}


aside .r-btn1{
    position:fixed;
    right:5%; top:40%;
    padding-top:2vh;
    display:flex;
    flex-direction: column;
    z-index:20;
}
aside .r-btn1 a{
    width:15px;
    height:15px;
    margin-bottom:20px;
    border-radius:50%;
    border:1px solid #a8a9ab;
}
aside .r-btn1 a:hover{
    width:15px;
    height:15px;
    margin-bottom:20px;
    border-radius:50%;
    background-color:#c40352;
    border:1px solid #c40352;
}